{% extends 'base.html' %}


{% block title %}
  Страница товаров
{% endblock %}


{% block content %}
<div id="main" class="product_list col-sm-9">
    <h1>Товары</h1>
    <div class="items row">
      {% for product in products %}
        <div class="item col-sm-4">
          <span>{{product.name}}</span>
          <span>{{product.category}}</span>
          <span>{{product.price}}грн.</span>
          <form action="{% url 'cart:CartAdd' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
          </form>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
